
<header class="navbar-wrapper">

    <div class="navbar navbar-fixed-top nav-bar-polish" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "BLUEBERRY PIE", root_path, :class => 'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>                      
                <li><%= link_to 'Logout', signout_path %></li>
            <% else %>
                <li><%= link_to 'Sign Up / Login', signin_path %></li>
            <% end %>
            <% if user_signed_in? %>
              <% if current_user.has_role? :admin %>
                <li>
                  <%= link_to 'Admin', users_path %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

</header>